.bc{
    height: 300px;
    background-color: #f0ebeb;
}
.imbc{

    min-height: 500px;
    width: 390px;
    background: url(https://mooncart.dexignzone.com/xhtml/images/blog/blogpost-3/pic1.jpg);
    background-size: 100% 100%;
  }
  
  .imbc1{

    min-height: 500px;
    width: 390px;
    background: url(https://mooncart.dexignzone.com/xhtml/images/blog/blogpost-3/pic2.jpg);
    background-size: 100% 100%;
  }
  .imbc2{

    min-height: 500px;
    width: 390px;
    background: url(https://mooncart.dexignzone.com/xhtml/images/blog/blogpost-3/pic3.jpg);
    background-size: 100% 100%;
  }
  .imbc3{

    min-height: 500px;
    width: 390px;
    background: url(https://mooncart.dexignzone.com/xhtml/images/blog/blogpost-3/pic4.jpg);
    background-size: 100% 100%;
  }
  .imbc4{

    min-height: 500px;
    width: 390px;
    background: url(https://mooncart.dexignzone.com/xhtml/images/blog/blogpost-5/pic5.jpg);
    background-size: 100% 100%;
  }
  .imbc5{

    min-height: 500px;
    width: 390px;
    background: url(https://mooncart.dexignzone.com/xhtml/images/blog/blogpost-5/pic6.jpg);
    background-size: 100% 100%;
  }

  .bcbg{
    background-color: black;
    min-height:100px ;
    color: white;
    font-size: 20px;
    font-family: sofia;
    margin-top: 320px;
  }

