
.pou{
  height: 300px;
  background:url(https://mooncart.dexignzone.com/xhtml/images/background/bg-shape.jpg)
}
.pou1{
text-align: center;
 font-family: sofia;
 font-size: 40px;
}
.pou2{
  text-align: center;
     font-family: sofia;
     font-size: 20px;
  }

  .pou3{
    height: 300px;
    background:url(https://mooncart.dexignzone.com/xhtml/images/team/pic1.jpg);
    background-size: 100% 100%;
  
  }
  .pou4{
    height: 300px;
    background:url(https://mooncart.dexignzone.com/xhtml/images/team/pic2.jpg);
    background-size: 100% 100%;
  
  }
  .pou5{
    height: 300px;
    background:url(https://mooncart.dexignzone.com/xhtml/images/team/pic3.jpg);
    background-size: 100% 100%;
  
  }
  .pou6{
    height: 300px;
    background:url(https://mooncart.dexignzone.com/xhtml/images/team/pic4.jpg);
    background-size: 100% 100%;
  
  }
  .pou7{
    height: 300px;
    background:url(https://mooncart.dexignzone.com/xhtml/images/team/pic5.jpg);
    background-size: 100% 100%;
  
  }
  .pou8{
    height: 300px;
    background:url(https://mooncart.dexignzone.com/xhtml/images/team/pic6.jpg);
    background-size: 100% 100%;
  
  }